<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
    <property name="LOGS" value="./logs" />
 
    <appender name="Console"
        class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} | %yellow(%-16.16thread) | %highlight(%-5.5p) | %-35.35logger{35} | %m%n
            </Pattern>
        </layout>
    </appender>
 	
     <appender name="monitor-resource" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/monitor-resource.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%m%n</Pattern>
        </encoder>
 
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/monitor-resource.log-%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1GB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender> 
    <!-- 
     <appender name="hibernate" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/hibernate.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} | %-20.20thread | %-5.5p  | %m%n</Pattern>
        </encoder>
 
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/hibernate.log-%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1GB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender> 
    
    <appender name="hikari" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/hikari.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} | %-20.20thread | %-5.5p  | %m%n</Pattern>
        </encoder>
 
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/hikari.log-%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1GB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender> 
    
    <appender name="spring-boot" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/spring-boot.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} | %-20.20thread | %-5.5p  | %m%n</Pattern>
        </encoder>
 
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/spring-boot.log-%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1GB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender> 
     -->
     
    <appender name="insert-error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/insert-error.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS};%m%n</Pattern>
        </encoder>
 
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/doWork/insert-error.log-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1GB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender> 
     
    <!-- 
    <root level="info">
        <appender-ref ref="Console" />
    </root>
     -->
    <logger name="com.neo.logserver" level="debug" additivity="false">
        <appender-ref ref="Console" />
    </logger>
    <logger name="com.neo.logserver.service" level="debug" additivity="false">
          <appender-ref ref="Console" />
        <!--<appender-ref ref="insert-error" /> -->
    </logger>
    <logger name="com.neo.core" level="info" additivity="false">
        <appender-ref ref="Console" />
         <!--<appender-ref ref="monitor-resource" />   -->
    </logger>
    <!-- 
    <logger name="com.neo.cohgw" level="debug" additivity="false">
        <appender-ref ref="coherencegw" />
    </logger>
    
    
    <logger name="com.zaxxer.hikari" level="debug" additivity="false">
        <appender-ref ref="hikari" />
    </logger>
    
    <logger name="org.springframework" level="debug" additivity="false">
        <appender-ref ref="spring-boot" />
    </logger>
     -->
</configuration>